 @media (max-width: 1220px) {
   .swiper-two .navigation-btn-gap {
     justify-content: start;
     margin-left: 12%;
   }

   .navigation-btn-gap-2 {
     justify-content: end;
     margin-right: 12%;
   }
 }

 @media (max-width: 1024px) {
   .gap-24 {
     gap: 20px;
   }

   .p-50-60 {
     padding: 40px 50px;
   }

   .swiper-two .navigation-btn-gap {
     justify-content: start;
     margin-left: 10%;
   }

   .navigation-btn-gap-2 {
     justify-content: end;
     margin-right: 10%;
   }
 }

 @media (max-width: 768px) {
   .fs-45 {
     font-size: 42px;
     font-family: "Urbanist", sans-serif;
     font-weight: 700;


   }

   .fs-18 {
     font-size: 16px;
   }

   .fs-16 {
     font-size: 14px;
   }

   .gap-24 {
     gap: 18px;
   }


   .p-50-60 {
     padding: 40px 40px;
   }

   .swiper-two .navigation-btn-gap {
     justify-content: start;
     margin-left: 9%;
   }

   .navigation-btn-gap-2 {
     justify-content: end;
     margin-right: 9%;
   }
 }

 @media (max-width: 640px) {
   .fs-45 {
     font-size: 36px;

   }

   .fs-20 {
     font-size: 18px;
   }

   .fs-18 {
     font-size: 16px;
   }

   .gap-24 {
     gap: 20px;
   }


   .p-50-60 {
     padding: 40px 30px !important;
   }

   .swiper-two .navigation-btn-gap,
   .navigation-btn-gap-2 {
     justify-content: center !important;
     margin-left: 0px !important;
     margin-right: 0px;
   }
 }

 @media (max-width:500px) {
   .fs-45 {
     font-size: 30px;
   }

   .fs-28 {
     font-size: 24px;
   }

   .check-show .fs-22 {
     font-size: 12px !important;
   }

   .check-show .mt-12 {
     margin-top: 4px;
     gap: 5px;
   }

   .check-show .mt-12 span {
     font-size: 10px;
   }

   .check-show .mt-12 svg {
     width: 15px;
   }

   .para-show .max-w-300 {
     font-size: 12px !important;
   }

   .button-box {

     width: 35px;
     height: 35px;
   }

   .button-box svg {
     scale: 0.7;
   }

   .p-det {
     width: 70px;
     height: 70px;
     font-size: 12px;
   }

 }

 @media (max-width: 420px) {
   .fs-45 {
     font-size: 30px;
   }

   .fs-20 {
     font-size: 16px;
   }

   .swiper-two .fs-18 {
     font-size: 14px;
   }

   .slider-three .fs-14 {
     margin-top: 0px;
   }

   .gap-24 {
     gap: 18px;
   }


   .p-50-60 {
     padding: 40px 20px !important;
   }


   .slider-1 .swiper-slide img {

     border-radius: 10px;
     height: 170px;
   }

   .box-show-no {
     height: 30px;
     width: 100%;

   }

   .slider-1 .swiper-slide-active img {
     height: 200px;

   }

   .pos-square {
     bottom: 0px;
     right: 10px;
     padding: 6px 14px;
     border-radius: 5px;
     transition: all 0.3s ease-in-out;
     display: none;
     font-size: 10px;

   }

 }