@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: pp Hatton;
  src: url(./../assestes/hatton-font-family/PP\ Hatton\ Medium\ 500.otf);
}
.ff-haton {
  font-family: pp Hatton;
}
body {
  font-family: "Urbanist", sans-serif;
}
/*  */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.pos-relative {
  position: relative !important;
}
/* gap */
.gap-50 {
  gap: 50px;
}
.gap-24 {
  gap: 24px;
}
.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}
.gap-4 {
  gap: 4px;
}
/* text */
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.fs-45 {
  font-size: 45px;
}
.fs-20 {
  font-size: 20px;
}
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
  font-size: 14px;
}
/* leading */
.lh-120 {
  line-height: 120%;
}
.lh-170 {
  line-height: 170%;
}
/* font weight */
.f-500 {
  font-weight: 500;
}
.f-300 {
  font-weight: 300px;
}
/* padding */
.px-20 {
  padding: 0px 20px;
}
.p-50-60 {
  padding: 50px 60px;
}
/* margin */
.m-0 {
  margin: 0px;
}
.mx-auto {
  margin: 0px auto;
}
.swiper-two .swiper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.swiper-two .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
  width: 100%;
  height: 100%;
  margin: 0px;
}
.swiper-two .swiper-slide-active {
  background-color: #0677ad;
  color: white;
  opacity: 1;
}
.swiper-two .swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  color: transparent;
  width: 42px;
  height: 42px;
}
.swiper-two .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.swiper-two .swiper-button-prev {
  rotate: 180deg;
}
.swiper-two .navigation-btn-gap {
  gap: 30px;
  margin-left: 13%;
}
/* width */
.max-w-650 {
  max-width: 650px;
}
.max-w-50 {
  max-width: 50px;
}
.w-full {
  width: 100%;
}
/* height */
.max-h-300 {
  max-height: 300px;
}
.max-w-123 {
  max-width: 123px;
}
.max-h-50 {
  max-height: 50px;
}
/* slider-3 */
.slider-three .swiper-slide {
  position: relative;

  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.3s ease;
  height: 461px;
}

.slider-three .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 20px;
}

.slider-three .swiper-slide-active {
  height: 240px;
}

.slider-three .swiper-a -next,
.swiper-a -prev {
  z-index: 10;
}

.slider-three .swiper-pagination {
  z-index: 10;
}

.slider-three .slide-content {
  display: none;

  margin-top: 20px;
  position: absolute;
  bottom: -120px;
  width: 100%;
  transition: bottom 0.3s ease;
}

.slider-three .swiper-slide-active .slide-content {
  display: block;
  position: absolute;
  bottom: -220px;
  left: 0px;
}

.slider-three .slide-content a {
  padding: 15px 55px 15px 35px;
  font-size: 16px;
  background-color: #0677ad;
  color: white;
  background-size: cover;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.slider-three .slide-content a:hover {
  background-color: #0056b3;
}
.slider-three-nav-btn {
  gap: 20px !important;
  justify-content: end;
  margin-right: 10%;
  margin-top: 20px;
}
.slider-three-nav-btn .swiper-button-prev-2,
.swiper-button-next-2 {
  width: 42px;
  height: 42px;
}
.slider-three-nav-btn .swiper-button-prev-2 {
  rotate: 180deg !important;
}

/* slider 1 */
.slider-one .swiper {
  width: 100%;
  height: 100%;
}

.slider-one .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: height 0.3s ease;
}
.slider-one .swiper-slide-active img {
  height: 478px;
}
.slider-one .swiper-slide p span {
  display: none;
}
.slider-one .swiper-slide-active p span {
  display: flex;
}
.slider-one .swiper-slide .relative .pos-square {
  display: none;
}
.slider-one .swiper-slide-active .relative .pos-square {
  display: block;
}
.slider-one .swiper-slide .relative a {
  display: none;
}
.slider-one .swiper-slide-active:hover .relative a {
  display: block;
}
.slider-one .swiper-slide-active .relative a {
  transition: all ease-in 0.4s;
}
.max-w-fit {
  max-width: fit-content;
}
/* g */
