@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: pp Hatton;
  src: url(./../assestes/hatton-font-family/PP\ Hatton\ Medium\ 500.otf);
}
.ff-haton {
  font-family: pp Hatton;
}
body {
  font-family: "Urbanist", sans-serif;
}
/*  */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
/* gap */
.gap-50 {
  gap: 50px;
}
.gap-10 {
  gap: 10px;
}
/* text */
.text-center {
  text-align: center;
}
/* padding */
.px-20 {
  padding: 0px 20px;
}
/* margin */
