.max-w-622 {
  max-width: 622px;
}

.my-80 {
  margin: 80px auto;
}

.w-100 {
  width: 100%;
}

.over-hidden {
  overflow: hidden;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}


.max-w-fit {
  max-width: fit-content;
}

.t-none {
  text-decoration: none !important;
}

.block {
  display: block;
}

.item-center {
  align-items: center;
}

.top-5 {
  top: 12px;
}

.position-left {
  right: 100px;
  top: 70px;
  left: auto;
  outline: none;
}

.position-right {
  right: 0px;
  top: 70px;
  outline: none;
}

.slider-1 .swiper-button-prev,
.slider-1 .swiper-button-next {
  color: rgb(0, 0, 0) !important;
  padding: 18px 26.5px;
  border-radius: 100px;
}

.mb-30 {
  margin-bottom: 30px;
}

.h-350 {
  height: 100%;
}

.mt-12 {
  margin-top: 12px;
}

.mt-30 {
  margin-top: 32px;
}

.m-0 {
  margin: 0px;
}

.opacity-80 {
  opacity: 0.8;
}

.flex {
  display: flex;
}

.max-w-300 {
  max-width: 300px;
}

.j-bet {
  justify-content: space-between;
}

.bg-white {
  background-color: white;
}

.z-1 {
  z-index: 1;
}

.pos-square {
  bottom: 20px;
  right: 30px;
  padding: 10px 24px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  display: none;

}

.bg-blue {
  background-color: #0677ad;
}

.p-det {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: white;
  top: 0px;
  bottom: 0px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 0.5s ease-in-out;

}

.p-det:hover {
  background-color: #0a93d2;
}

.text-black {
  color: #000;
}